html {
  -ms-touch-action: none;  /* 阻止windows Phone 的默认触摸事件 */
  overflow: hidden;
}
#pageContain {
  overflow: hidden;
  .page {
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    .contain {
      width: 100%;
      height: 100%;
      display: none;
      //position: relative;
      z-index: 0;
    }
    .po-rela{
      position: relative;
    }
    .po-abso{
      position: absolute;
    }
  }
  .current .contain,.slide .contain {
    display: block;
  }
  .current {
    display: block;
    z-index: 1;
  }
  .slide {
    display: block;
    z-index: 2;
  }
  .swipe {
    display: block;
    z-index: 3;
    transition-duration: 0ms !important;
    -webkit-transition-duration: 0ms !important;
  }

  /*-------------------------------- 第一页 ------------------------------------*/
  .title {
    -webkit-animation:dragTop .7s ease-in-out both;
    -moz-animation:dragTop .7s ease-in-out both;
    -ms-animation:dragTop .7s ease-in-out both;
    animation:dragTop .7s ease-in-out both;
  }
  .text {
    -webkit-animation:dragTop .7s ease-in-out both;
    -moz-animation:dragTop .7s ease-in-out both;
    -ms-animation:dragTop .7s ease-in-out both;
    animation:dragTop .7s ease-in-out both;
  }
  .page1 {
    width: 100%;
    height: 100%;
    max-width: 1920px;
    max-height: 1122px;
    margin: 0 auto;
    background: #FFF;
    .title {
      font-size: 82px;
      padding-top: 5.9126%;
      text-align: center;
    }
    .text {
      font-size: 40px;
      text-align: center;
      color: #888888;
    }
    .bl-bag {
      width: 16.8229%;
      // height: 14.6875%;
      bottom: 3.5650%;
      left: 25.1042%;
    }
    .bl-jz {
      width: 2.1354%;
      // height: 2.6042%;
      bottom: 6.9519%;
      left: 17.7083%;
    }
    .br-cam {
      width: 9.6354%;
      // height: 12.5520%;
      bottom: 9.2691%;
      right: 4.4792%;
    }
    .br-key {
      width: 13.8020%;
      // height: 6.4062%;
      top: 39.9287%;
      right: 6.25%;
    }
    .br-ph {
      width: 4.6354%;
      // height: 6.5104%;
      bottom: 0;
      right: 34.375%;
    }
    .br-watch {
      width: 5.1042%;
      // height: 9.7396%;
      bottom: 21.5686%;
      right: 23.0208%;
    }
    .cl-pc {
      width: 14.6354%;
      // height: 10.3646%;
      bottom: 31.1943%;
      left: 4.7917%;
      z-index: 2;
    }
    .tl-pc{
      width: 18.1771%;
      // height: 15.2604%;
      top: 8.5561%;
      left: 7.3958%;
    }
    .tr-ph {
      width: 4.8438%;
      // height: 9.2188%;
      top: 9.2691%;
      right: 17.7083%;
    }
  }

  /*-------------------------------- 第二页 ------------------------------------*/
  .page2 {
    width: 100%;
    height: 100%;
    max-width: 1920px;
    max-height: 1122px;
    margin: 0 auto;
    background: #f2f2f2;
    .title {
      width: 23.2292%;
      top: 5.7143%;
      left: 50%;
      margin-left: -11.6146%;
    }
    .bl-bag {
      width: 24.1667%;
      bottom: 11.619%;
      left: 6.8229%;
    }
    .br-watch{
      width: 18.125%;
      bottom: 2.6667%;
      right: 9.375%;
    }
    .tr-jz {
      width: 14.323%;
      top: 20%;
      right: 5.99%;
    }
  }

  /*-------------------------------- 第三页 ------------------------------------*/
  .page3 {
    width: 100%;
    height: 100%;
    max-width: 1920px;
    max-height: 1050px;
    margin: 0 auto;
    background: #FFF;
    .title {
      font-size: 82px;
      padding-top: 2.7143%;
      text-align: center;
    }
    .text {
      font-size: 40px;
      text-align: center;
      color: #888888;
    }
    .up-line {
      width: 0;
      border: 1px solid #d3d3d3;
      z-index: 5;
    }
    .bottom-line {
      width: 0;
      border: 1px solid #d3d3d3;
      z-index: 5;
    }
    .discount-text {
      z-index: 9;
    }
    .left-bag {
      .up-line {
        height: 16.9524%;
        top: 0;
        left: 18.3333%;
        -webkit-animation:dragDown 1s ease-in-out both;
        -moz-animation:dragDown 1s ease-in-out both;
        -ms-animation:dragDown 1s ease-in-out both;
        animation:dragDown 1s ease-in-out both;
      }
      .left-bag-img {
        width: 15.5729%;
        //height: 30.9524%;
        top: 16.381%;
        left: 9.4271%;
        z-index: 9;
        -webkit-animation:dragDown 1s ease-in-out 1s both;
        -moz-animation:dragDown 1s ease-in-out 1s both;
        -ms-animation:dragDown 1s ease-in-out 1s both;
        animation:dragDown 1s ease-in-out 1s both;
      }
      .bottom-line {
        height: 16.9524%;
        top: 35.2381%;
        left: 18.3333%;
        -webkit-animation:dragDown 1s ease-in-out 2s both;
        -moz-animation:dragDown 1s ease-in-out 2s both;
        -ms-animation:dragDown 1s ease-in-out 2s both;
        animation:dragDown 1s ease-in-out 2s both;
      }
      .discount-text{
        width: 4.1667%;
        //height: 16%;
        top: 52.1905%;
        left: 16.5104%;
        -webkit-animation:dragDown 1s ease-in-out 3s both;
        -moz-animation:dragDown 1s ease-in-out 3s both;
        -ms-animation:dragDown 1s ease-in-out 3s both;
        animation:dragDown 1s ease-in-out 3s both;
      }
    }
    .center-watch {
      .up-line {
        height: 32.4762%;
        top: 23.3333%;
        left: 44.2188%;
        -webkit-animation:dragDown 1s ease-in-out 4s both;
        -moz-animation:dragDown 1s ease-in-out 4s both;
        -ms-animation:dragDown 1s ease-in-out 4s both;
        animation:dragDown 1s ease-in-out 4s both;
      }
      .center-watch-img {
        width: 9.1667%;
        height: 29.5238%;
        top: 54.7619%;
        left: 39.9479%;
        z-index: 9;
        -webkit-animation:dragDown 1s ease-in-out 5s both;
        -moz-animation:dragDown 1s ease-in-out 5s both;
        -ms-animation:dragDown 1s ease-in-out 5s both;
        animation:dragDown 1s ease-in-out 5s both;
      }
      .bottom-line {
        height: 15.81%;
        top: 70.4762%;
        left: 44.1146%;
        -webkit-animation:dragDown 1s ease-in-out 6s both;
        -moz-animation:dragDown 1s ease-in-out 6s both;
        -ms-animation:dragDown 1s ease-in-out 6s both;
        animation:dragDown 1s ease-in-out 6s both;
      }
      .discount-text{
        width: 3.0729%;
        height: 11.619%;
        top: 86.0952%;
        left: 42.7064%;
        -webkit-animation:dragDown 1s ease-in-out 7s both;
        -moz-animation:dragDown 1s ease-in-out 7s both;
        -ms-animation:dragDown 1s ease-in-out 7s both;
        animation:dragDown 1s ease-in-out 7s both;
      }
    }
    .right-watch {
      .up-line {
        height: 17.9048%;
        top: 0;
        right: 25.7292%;
        -webkit-animation:dragDown 1s ease-in-out both;
        -moz-animation:dragDown 1s ease-in-out both;
        -ms-animation:dragDown 1s ease-in-out both;
        animation:dragDown 1s ease-in-out both;
      }
      .right-watch-img {
        width: 6.9271%;
        height: 21.619%;
        top: 17.7143%;
        right: 22.1354%;
        z-index: 9;
        -webkit-animation:dragDown 1s ease-in-out 1s both;
        -moz-animation:dragDown 1s ease-in-out 1s both;
        -ms-animation:dragDown 1s ease-in-out 1s both;
        animation:dragDown 1s ease-in-out 1s both;
      }
      .bottom-line {
        height: 15.8095%;
        top: 30.1905%;
        right: 25.7291%;
        -webkit-animation:dragDown 1s ease-in-out 2s both;
        -moz-animation:dragDown 1s ease-in-out 2s both;
        -ms-animation:dragDown 1s ease-in-out 2s both;
        animation:dragDown 1s ease-in-out 2s both;
      }
      .discount-text{
        width: 3.9062%;
        height: 14.8571%;
        top: 45.9048%;
        right: 23.9583%;
        -webkit-animation:dragDown 1s ease-in-out 3s both;
        -moz-animation:dragDown 1s ease-in-out 3s both;
        -ms-animation:dragDown 1s ease-in-out 3s both;
        animation:dragDown 1s ease-in-out 3s both;
      }
    }
    .right-bag {
      .up-line {
        height: 53.619%;
        top: 0;
        right: 15.625%;
        -webkit-animation:dragDown 1s ease-in-out 4s both;
        -moz-animation:dragDown 1s ease-in-out 4s both;
        -ms-animation:dragDown 1s ease-in-out 4s both;
        animation:dragDown 1s ease-in-out 4s both;
      }
      .right-bag-img {
        width: 11.4061%;
        height: 27.238%;
        top: 53.3333%;
        right: 10.1563%;
        z-index: 9;
        -webkit-animation:dragDown 1s ease-in-out 5s both;
        -moz-animation:dragDown 1s ease-in-out 5s both;
        -ms-animation:dragDown 1s ease-in-out 5s both;
        animation:dragDown 1s ease-in-out 5s both;
      }
      .bottom-line {
        height: 15.9524%;
        top: 67.0376%;
        right: 15.625%;
        -webkit-animation:dragDown 1s ease-in-out 6s both;
        -moz-animation:dragDown 1s ease-in-out 6s both;
        -ms-animation:dragDown 1s ease-in-out 6s both;
        animation:dragDown 1s ease-in-out 6s both;
      }
      .discount-text{
        width: 4.1667%;
        height: 16%;
        top: 83.5238%;
        right: 13.5417%;
        -webkit-animation:dragDown 1s ease-in-out 7s both;
        -moz-animation:dragDown 1s ease-in-out 7s both;
        -ms-animation:dragDown 1s ease-in-out 7s both;
        animation:dragDown 1s ease-in-out 7s both;
      }
    }
  }

  /*-------------------------------- 第四页 ------------------------------------*/
  .page4 {
    width: 100%;
    height: 100%;
    max-width: 1920px;
    max-height: 1122px;
    margin: 0 auto;
    background: #f2f2f2;
  }
}

@media screen and (max-width: 1760px){
  #pageContain .page1, #pageContain .page3 {
    .title{
      font-size: 78px;
    }
    .text{
      font-size: 38px;
    }
  }
}
@media screen and (max-width: 1680px){
  #pageContain .page1, #pageContain .page3 {
    .title{
      font-size: 75px;
    }
    .text{
      font-size: 36px;
    }
  }
}
@media screen and (max-width: 1600px){
  #pageContain .page1, #pageContain .page3 {
    .title{
      font-size: 68px;
    }
    .text{
      font-size: 33px;
    }
  }
}
@media screen and (max-width: 1440px){
  #pageContain .page1, #pageContain .page3 {
    .title{
      font-size: 60px;
    }
    .text{
      font-size: 30px;
    }
  }
}
@media screen and (max-width: 1280px){
  #pageContain .page1, #pageContain .page3 {
    .title{
      font-size: 48px;
    }
    .text{
      font-size: 23px;
    }
  }
}
@media screen and (max-width: 1024px){
  #pageContain .page1, #pageContain .page3 {
    .title{
      font-size: 37px;
    }
    .text{
      font-size: 18px;
    }
  }
}
@media screen and (max-width: 800px){
  #pageContain .page1, #pageContain .page3 {
    .title{
      font-size: 32px;
    }
    .text{
      font-size: 16px;
    }
  }
}

@keyframes dragTop {
  0% {
    opacity:0;
    transform:translateY(-70px)
  }
  60% {
    opacity:1;
    transform:translateY(30px)
  }
  90% {
    transform:translateY(-5px)
  }
  97% {
    transform:translateY(-1px)
  }
  100% {
    transform:translateY(0px)
  }
}
@-webkit-keyframes dragTop {
  0% {
    opacity:0;
    -webkit-transform:translateY(-70px)
  }
  60% {
    opacity:1;
    -webkit-transform:translateY(30px)
  }
  90% {
    -webkit-transform:translateY(-5px)
  }
  97% {
    -webkit-transform:translateY(-1px)
  }
  100% {
    -webkit-transform:translateY(0px)
  }
}
@-moz-keyframes dragTop {
  0% {
    opacity:0;
    -moz-transform:translateY(-70px)
  }
  60% {
    opacity:1;
    -moz-transform:translateY(30px)
  }
  90% {
    -moz-transform:translateY(-5px)
  }
  97% {
    -moz-transform:translateY(-1px)
  }
  100% {
    -moz-transform:translateY(0px)
  }
}
@-ms-keyframes dragTop {
  0% {
    opacity:0;
    -ms-transform:translateY(-70px)
  }
  60% {
    opacity:1;
    -ms-transform:translateY(30px)
  }
  90% {
    -ms-transform:translateY(-5px)
  }
  97% {
    -ms-transform:translateY(-1px)
  }
  100% {
    -ms-transform:translateY(0px)
  }
}

@-webkit-keyframes dragDown {
  0% {
    opacity:0;
    -webkit-transform:translateY(-70px)
  }
  100% {
    opacity:1;
    -webkit-transform:translateY(0px)
  }
}
@-o-keyframes dragDown {
  0% {
    opacity:0;
    -o-transform:translateY(-70px)
  }
  100% {
    opacity:1;
    -o-transform:translateY(0px)
  }
}
@-moz-keyframes dragDown {
  0% {
    opacity:0;
    -moz-transform:translateY(-70px)
  }
  100% {
    opacity:1;
    -moz-transform:translateY(0px)
  }
}
@keyframes dragDown {
  0% {
    opacity:0;
    transform:translateY(-70px)
  }
  100% {
    opacity:1;
    transform:translateY(0px)
  }
}