html {
  -ms-touch-action: none;  /* 阻止windows Phone 的默认触摸事件 */
  overflow: hidden;
}
#pageContain {
  overflow: hidden;
  .page {
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    .contain {
      width: 100%;
      height: 100%;
      display: none;
      position: relative;
      z-index: 0;
    }
    .po-rela{
      position: relative;
    }
    .po-abso{
      position: absolute;
    }
  }
  .current .contain,.slide .contain {
    display: block;
  }
  .current {
    display: block;
    z-index: 1;
  }
  .slide {
    display: block;
    z-index: 2;
  }
  .swipe {
    display: block;
    z-index: 3;
    transition-duration: 0ms !important;
    -webkit-transition-duration: 0ms !important;
  }
  .page1 {
    width: 100%;
    height: 100%;
    max-width: 1920px;
    max-height: 1122px;
    margin: 0 auto;
    background: #FFF;
    .title {
      font-size: 82px;
      padding-top: 100px;
      text-align: center;
    }
    .text {
      font-size: 40px;
      text-align: center;
      color: #888888;
    }
    .bl-bag {
      width: 16.8229%;
      // height: 14.6875%;
      bottom: 3.5650%;
      left: 25.1042%;
    }
    .bl-jz {
      width: 2.1354%;
      // height: 2.6042%;
      bottom: 6.9519%;
      left: 17.7083%;
    }
    .br-cam {
      width: 9.6354%;
      // height: 12.5520%;
      bottom: 9.2691%;
      right: 4.4792%;
    }
    .br-key {
      width: 13.8020%;
      // height: 6.4062%;
      top: 39.9287%;
      right: 6.25%;
    }
    .br-ph {
      width: 4.6354%;
      // height: 6.5104%;
      bottom: 0;
      right: 34.375%;
    }
    .br-watch {
      width: 5.1042%;
      // height: 9.7396%;
      bottom: 21.5686%;
      right: 23.0208%;
    }
    .cl-pc {
      width: 14.6354%;
      // height: 10.3646%;
      bottom: 31.1943%;
      left: 4.7917%;
      z-index: 2;
    }
    .tl-pc{
      width: 18.1771%;
      // height: 15.2604%;
      top: 8.5561%;
      left: 7.3958%;
    }
    .tr-ph {
      width: 4.8438%;
      // height: 9.2188%;
      top: 9.2691%;
      right: 17.7083%;
    }
  }
  .page2 {
    width: 100%;
    height: 100%;
    max-width: 1920px;
    max-height: 1122px;
    margin: 0 auto;
    background: #f2f2f2;
    .title {
      width: 23.2292%;
      top: 5.7143%;
      left: 50%;
      margin-left: -11.6146%;
    }
    .bl-bag {
      width: 24.1667%;
      bottom: 11.619%;
      left: 6.8229%;
    }
    .br-watch{
      width: 18.125%;
      bottom: 2.6667%;
      right: 9.375%;
    }
    .tr-jz {
      width: 14.323%;
      top: 20%;
      right: 5.99%;
    }
  }
  .page3 {
    background: #992211;
  }
  .page4 {
    background: #ff00ff;
  }
}
@media screen and (max-width: 1760px){
  #pageContain .page1{
    .title{
      padding-top: 95px;
    }
  }
  #pageContain .page1, #pageContain .page2 {
    .title{
      font-size: 78px;
    }
    .text{
      font-size: 38px;
    }
  }
}
@media screen and (max-width: 1680px){
  #pageContain .page1{
    .title{
      padding-top: 90px;
    }
  }
  #pageContain .page1, #pageContain .page2 {
    .title{
      font-size: 75px;
    }
    .text{
      font-size: 36px;
    }
  }
}
@media screen and (max-width: 1600px){
  #pageContain .page1{
    .title{
      padding-top: 80px;
    }
  }
  #pageContain .page1, #pageContain .page2 {
    .title{
      font-size: 68px;
    }
    .text{
      font-size: 33px;
    }
  }
}
@media screen and (max-width: 1440px){
  #pageContain .page1{
    .title{
      padding-top: 64px;
    }
  }
  #pageContain .page1, #pageContain .page2 {
    .title{
      font-size: 60px;
    }
    .text{
      font-size: 30px;
    }
  }
}
@media screen and (max-width: 1280px){
  #pageContain .page1{
    .title{
      padding-top: 54px;
    }
  }
 #pageContain .page1, #pageContain .page2 {
    .title{
      font-size: 48px;
    }
    .text{
      font-size: 23px;
    }
  }
}
@media screen and (max-width: 1024px){
  #pageContain .page1{
    .title{
      padding-top: 40px;
    }
  }
  #pageContain .page1, #pageContain .page2 {
    .title{
      font-size: 37px;
    }
    .text{
      font-size: 18px;
    }
  }
}
@media screen and (max-width: 800px){
  #pageContain .page1{
    .title{
      padding-top: 32px;
    }
  }
  #pageContain .page1, #pageContain .page2 {
    .title{
      font-size: 32px;
    }
    .text{
      font-size: 16px;
    }
  }
}